/* Stil für das Canvas, das das Spiel enthält */
#gamecnv {
    background: linear-gradient(180deg, #006994 0%, #00334E 100%);
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 20px auto;
}

.info-box {
    position: absolute;
    top: 20px;
    padding: 8px 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#scoreBox { left: 20px; } /* Score links oben */
#missBox { right: 20px; } /* Misses rechts oben */
#levelBox { left: 50%; transform: translateX(-50%); } /* Level mittig */

/* Design für den Spiel-Score und verpasste Blasen */
#scoreBoard {
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 10px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

/* Für den Score-Anstieg ein sanftes Farbblinken */
@keyframes scoreFlash {
    0%, 100% { color: #FFFFFF; }
    50% { color: #529ff7; } /* Goldfarbenes Blinken */
}

.score-increase {
    animation: scoreFlash 0.5s ease-in-out;
}

/* Stil für das Game-Over-Popup */
#gameOverPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none; /* wird im Spiel angezeigt */
}

#gameOverPopup button {
    background-color: #FFD700;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#gameOverPopup button:hover {
    background-color: #FFA500;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
  }
  #gamecontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
  }
  canvas {
    width: 100%;
    height: auto;
    max-height: 100%;
  }